
<h2>Owner Dashboard</h2>

<div class="container mt-5">
    <div class="row">
        @*<div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Owner Section</h5>
                </div>
                <div class="card-body">
                    <!-- Add content for the owner section -->
                    <p>Welcome, Owner!</p>
                    <a  asp-controller="Owner" asp-action="OrderList" class="btn btn-primary">Manage Order</a>
                </div>
            </div>
        </div>*@
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Item Section</h5>
                </div>
                <div class="card-body">
                    <!-- Add content for the employee section -->
                  
                    <a asp-controller="Item" asp-action="AllItems" class="btn btn-primary">Manage Items</a>
                </div>
            </div>
        </div>
    </div>
</div>